<form #userForm="ngForm">
    <!-- Required Validator -->
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" ngModel required>
      <div *ngIf="userForm.controls['username']?.invalid && userForm.controls['username']?.touched">
        Username is required.
      </div>
    </div>
  
    <!-- Email Validator -->
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel email>
      <div *ngIf="userForm.controls['email']?.invalid && userForm.controls['email']?.touched">
        Please enter a valid email.
      </div>      
    </div>
  
    <!-- Minlength and Maxlength Validator -->
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel minlength="6" maxlength="12" required appPasswordStrength>
      <div *ngIf="userForm.controls['password'] && userForm.controls['password'].errors && userForm.controls['password'].errors['minlength'] && userForm.controls['password']?.touched">
        Password must be at least 6 characters long.
      </div>
      <div *ngIf="userForm.controls['password'] && userForm.controls['password'].errors && userForm.controls['password'].errors['maxlength'] && userForm.controls['password']?.touched">
        Password cannot exceed 12 characters.
      </div>
      <div *ngIf="userForm.controls['password'] && userForm.controls['password'].errors && userForm.controls['password'].errors['required'] && userForm.controls['password']?.touched">
        Password is required.
      </div>
      <div *ngIf="userForm.controls['password'] && userForm.controls['password'].errors && userForm.controls['password'].errors['passwordStrength'] && userForm.controls['password']?.touched">
        Password must be at least 8 characters long and contain an uppercase letter and a number.
      </div>
      
    </div>
  
    <!-- Submit Button -->
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
  
